<%= provide(:title, "Upload Illustration") %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="text-center">Upload Illustration</h2>
      </div>
      <div class="panel-body">
        <%= form_for @illustration do |f| %>
            <div class="form-gr">
              <%= render 'shared/error_messages', object: f.object %>
            </div>
            <div class="form-group">
                <%= f.file_field :image, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
            </div>
            <div class="form-group">
              <%= f.text_area :description, class: "form-control", placeholder: "Description", rows: 8  %>
            </div>
            <div class="form-group">
              <%= f.submit "Upload", class: "btn btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>